<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
			</button>
			<a class="navbar-brand page-scroll" href="/">
				HIDR <span class="beta">(beta)</span>
			</a>
		</div>
	</div>
</nav>

<div class="aboutdiv">
	<h1>ABOUT HIDR</h1>

	<h3>(Pronounced "Hider")</h3>
	
	<h4>**HIDR is currently in beta version and under further development**</h4>

	<h3>How our service works</h3>
	<ul>
		<li>You give us a base file and a file you want hidden.</li>
		<li>We encrypt the file using an AES-256 encryption algorithm and an encryption key that you provide.</li>
		<li>We hide the encrypted file in your base file and give it back.</li>
	</ul><br />
	<h3>Benefits of our service</h3>
	<ul>
		<li>We hide your encrypted information in what is essentially plain sight.</li>
		<li>The base file will function exactly as it is supposed to, and will not attract attention to itself as an object of scrutiny.</li>
		<li>In the case that the hidden file is found, it's encrypted, putting your actual file under multiple layers of security.</li>
		<li>Plainly visible encrypted messages—no matter how unbreakable—will arouse interest, and may in 
			themselves be incriminating in countries where encryption is illegal.</li>
			<li>Whereas normal cryptography is the practice of protecting the contents of a message alone, our method is concerned with concealing the fact that there is a secret file, as well as concealing the contents of the file.</li>
		</ul><br />
		<h3>Note</h3>
		<ul>
			<li>Our method will not hold up under FBI level scrutiny as the file sizes do not match up.</li>
			<li>With advanced tools, it is easy to detect the presence of hidden files.</li>
		</ul><br />
		<h3>Currently supported files for the base file</h3>
		<ul>
			<li>PDFs</li>
			<li>Images</li>
		</ul><br />
		<p>Disclaimer: Use of this site is at your own discretion and risk. </p>
	</div>